In [2]:
# Importing the relevant libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from surprise import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise import Dataset, Reader
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split, GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [5]:
#Loading the Datasets
ratings= pd.read_csv('C:/Users/pcx/OneDrive/Desktop/New folder (2)/ml-latest-small/ratings.csv')
movies = pd.read_csv('C:/Users/pcx/OneDrive/Desktop/New folder (2)/ml-latest-small/movies.csv')
tags = pd.read_csv('C:/Users/pcx/OneDrive/Desktop/New folder (2)/ml-latest-small/tags.csv')
links =pd.read_csv('C:/Users/pcx/OneDrive/Desktop/New folder (2)/ml-latest-small/links.csv')

In [12]:
#inspecting data sets
def inspect_multiple_data(*dfs, rows=5):
    """
    Prints the first few rows of multiple DataFrames.

    Parameters:
    *dfs: List of DataFrames to inspect.
    rows: Number of rows to display from each DataFrame (default is 5).
    """
    for i, df in enumerate(dfs):
        print(f"\n=== DataFrame {i+1} - First {rows} Rows ===")
        print(df.head(rows))

In [13]:
# Assuming you have these DataFrames: ratings, movies, tags, links
inspect_multiple_data(ratings, movies, tags, links)

# To show a custom number of rows (e.g., 10 rows):
inspect_multiple_data(ratings, movies, tags, links, rows=10)

=== DataFrame 1 - First 5 Rows ===
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

=== DataFrame 2 - First 5 Rows ===
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

=== DataFrame 3 - First 5 Rows ===
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

=== DataFrame 4 - First 5 Rows ===
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

=== DataFrame 1 - First 10 Rows ===
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

=== DataFrame 2 - First 10 Rows ===
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
5                        Action|Crime|Thriller
6                               Comedy|Romance
7                           Adventure|Children
8                                       Action
9                    Action|Adventure|Thriller

=== DataFrame 3 - First 10 Rows ===
   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

=== DataFrame 4 - First 10 Rows ===
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [ ]:
#merging data sets